
.usermyname {
  margin: 0 auto 0 0;
  padding: 0 0 0.25em auto;
  font-size: 2em;
}

.usermyname a {
  color: black;
  text-decoration: none;
  font-family: FreeSerif, serif;
}

.resume-entry .resume-entry-data {
  font-family: FreeSans, serif;
  text-align: left;
  font-size: 0.9em;
  color: #767676;
  margin-left: 0.9em;
}

.teaching {
  font-family: FreeSans, serif;
  font-size: 0.9em;
}

.row {
  display: flex;
}

.column {
  float: left;
}




/*# sourceMappingURL=styles.css.map
 
 font-weight: bold; */
