<div class="publication">
    <!-- Publication entry: title, authors, journal, date -->
    {{ $link := false }}
    {{ with .Get "link" }}{{ $link = . }}{{ end }}
    
    {{ with .Get "title" }}
    {{ if $link}}
    <p class="resume-entry-data"><a href= {{$link}} target="_blank">{{ . }}</a> </p>
    {{ else}}
    <p class="resume-entry-data">{{ . }}</p>
    {{end}}
    {{ end }}
    
    {{ $authors := false }}
    {{ $journal := false }}

    {{/* Authors */}}
    {{ with .Get "authors" }}{{ $authors = . }}{{ end }}

    {{/* Name of journal */}}
    {{- with .Get "journal" }}{{ $journal = . }}{{ end }}

    
    {{ if and $authors $journal}}
    <p> <span class="resume-entry-data"> {{ $authors }}</span></p>
    <p> <span class="resume-entry-data"><i> {{ $journal }} </i> </span></p>
    {{ end }}
    
    {{/* additional HTML under or as the entry */}}
    {{ if gt (len .Inner) 0 }}
    <div class="resume-inner">
        {{ .Inner }}
    </div>
    {{ end }}
    
    <p>
    <br>
    </p>
    
</div>
