<div class="talk">
    <!-- Publication entry: title, authors, journal, date -->
    
    {{ $when := false }}
    {{ $where := false }}
    {{ $title := false}}
    
    {{/* Title of the talk */}}
    {{ with .Get "title" }}{{ $title = . }}{{ end }}
    
    {{/* Date */}}
    {{ with .Get "when" }}{{ $when = . }}{{ end }}
    
    {{/* Name of the seminar */}}
    {{ with .Get "where" }}{{ $where = . }}{{ end }}
    
    
    <p class="resume-entry-data"> "{{$title}}", {{$when}}, {{$where}}. </p>
    <!-- <p class="resume-entry-data">{{$where}}, {{$when}} </p> -->
   
    {{/* additional HTML under or as the entry */}}
    {{ if gt (len .Inner) 0 }}
    <div class="resume-inner">
        {{ .Inner }}
    </div>
    {{ end }}
    
    <p>
    <br>
    </p>
    
</div>
