<div class="teaching">
    <!-- Teaching entry: semester and year, university, course name, teacher -->
    
    {{ with .Get "title" }}
    <p class="resume-entry-data">{{ . }}</p>
    {{ end }}
    
    {{ $when := false }}
    {{ $where := false }}
    {{ $course := false }}
    {{ $teacher := false}}

    {{/* Semester and year */}}
    {{ with .Get "when" }}{{ $when = . }}{{ end }}
    {{/* University */}}
    {{ with .Get "where" }}{{ $where = . }}{{ end }}
    {{/* Course */}}
    {{ with .Get "course" }}{{ $course = . }}{{ end }}
    {{/* Teacher */}}
    {{ with .Get "teacher" }}{{ $teacher = . }}{{ end }}


    <div> {{ $when }}: <i> {{ $course }} </i>
    at {{ $where }}, course taught by {{$teacher}}
    </div>
    
    {{/* additional HTML under or as the entry */}}
    {{ if gt (len .Inner) 0 }}
    <div class="resume-inner">
        {{ .Inner }}
    </div>
    {{ end }}
    
    <p>
    <br>
    </p>
    
</div>
