<div class="row">
    {{ $imagesrc := "false" }}
    {{ $width := false }}
    {{ $alt := false }}
    {{with .Get "imagesrc"}}{{ $imagesrc = . }}{{ end }}
    
    {{with .Get "imagewidth"}}{{ $width = . }}{{ end }}
    {{with .Get "alt"}}{{ $alt = . }}{{ end }}
    
    
    <div class="column" style="margin-right: 30px">
        <br> <br>
        <img class="imageLeft" width={{$width}} src= {{$imagesrc}} alt="Picture">
    </div>
    
  <div class="column">
      {{ if gt (len .Inner) 0 }}
      <div class="resume-inner">
          {{ .Inner }}
      </div>
      {{ end }}
  </div>
</div>
